# [Pandas Basic 참조](https://3months.tistory.com/292)  
# [Pandas Advanced 참조](https://3months.tistory.com/296?category=753896) - 실습 필요

## pandas dataframe은 다양한 데이터 타입으로부터 만들 수 있다. 
 - list
 - ndarray
 - dictionary
 - dataframe
 - series
 
## 반복문으로 값 추출시 가장 주의할 점
  1. df_test[df_test['A'] == 300]['A'] 로 출력시 원소 하나씩 출력되는 것이 아니라 해당 조건에 부합하는 모든 행 값이 출력 됨
  2. temp_df 구성이 필요할 경우 pd.concat 활용하여 프레임 단위로 처리를 하고, 만약 원소단위로 추출이 필요할 경우 loc, iloc를 활용하라.

In [8]:
import pandas as pd
import numpy as np
from IPython.display import display

In [40]:
# temp_df = pd.DataFrame()  # 비어있는 DataFrame 선언

my_list = [1,2,3,4]
display(pd.DataFrame(my_list))  # DataFrame 형태로 보기

my_1darray = np.array([5,6,7,8])
display(pd.DataFrame(my_1darray))

my_2darray = np.array([[1,2,3], [4,5,6]])
display(pd.DataFrame(my_2darray))

my_dict = {"컬1": ['1', '2'], "컬2":['3','4'], "컬3":['5', '6']}
display(pd.DataFrame(my_dict))

my_df = pd.DataFrame(data=[1,2,3,4], index=range(100,104), columns=['컬럼명'])
display(pd.DataFrame(my_df))

# Series의 경우 pandas에서 제공하는 데이터타입인데, index가 있는 1차원 배열
my_series = pd.Series({"United Kingdom":"1", "India":"2", "United States":"3", "Belgium":"4"})
display(pd.DataFrame(my_series))

   0
0  1
1  2
2  3
3  4

   0
0  5
1  6
2  7
3  8

   0  1  2
0  1  2  3
1  4  5  6

  컬1 컬2 컬3
0  1  3  5
1  2  4  6

     컬럼명
100    1
101    2
102    3
103    4

                0
Belgium         4
India           2
United Kingdom  1
United States   3

In [ ]:
type(my_series)
my_series   # 시리즈 형태 자체 확인
my_2darray  # 2차원 배열 형태 확인

In [30]:
# Dataframe에 딕셔너리 형태를 구성할 때 딕셔너리 안에 리스트를 넣어도 된다.

list1 = ['1','3']
list2 = ['2','4']
#list3 = ['3','5']

my_dict = {"a": list1, "b":list2, "c":['3', '5']}   # 컬럼명 : a,b,c
display(pd.DataFrame(my_dict))

   a  b  c
0  1  2  3
1  3  4  5

In [42]:
# Dataframe에 딕셔너리 형태를 구성할 때 딕셔너리 안에 시리즈를 넣어도 된다.

series1 = pd.Series(['11', '33'])
series2 = pd.Series(['22', '44'])
#Series3 = ['3','5']

my_dict = {"a": series1, "b":series2, "c":['3', '5']}
display(pd.DataFrame(my_dict))

    a   b  c
0  11  22  3
1  33  44  5

In [51]:
# 위에서 확인한 dataframe의 컬럼명을 변경한다.

df_dict = pd.DataFrame(my_dict)
df_dict

# 컬럼명 정의('기존명':'신규명')
newcols = {
    'a' : 'new_col1',
    'b' : 'new_col2',
    'c' : 'new_col3'
}

df_dict.rename(columns = newcols, inplace=True) # default : inplace=True   # 컬럼값 변경
df_dict

df_dict.rename(index={1: 'a'})  # 인덱스 값 변경

  new_col1 new_col2 new_col3
0       11       22        3
a       33       44        5

In [56]:
# 컬럼명이 지정되어있지 않을 경우 int값으로 들어가 있기 때문에 아래와 같이 변경한다.

dff = pd.DataFrame(my_list)
dff

newcols1 = {
    0 : 'aaaa'
}


dff.rename(columns=newcols1)

   aaaa
0     1
1     2
2     3
3     4

In [62]:
lst_day = ['2020-01-01', '2020-01-02']
lst_user = ['aaaa', 'bbbb']
#se_day = pd.Series(lst_day)
#se_user = pd.Series(lst_user)

# ----------------------리스트나 시리즈나 똑같이 활용 가능----------------------

#df_temp = pd.DataFrame(cols="day", "user_key")
df_temp = pd.DataFrame()  # 여기에는 컬럼명이 구지 없어도 되네

df_after = pd.DataFrame({"day": lst_day, "user_key" : lst_user} ) # 시리즈 형태로 바꿔서 넣어야함
df_after
#unique_user_key_df = unique_user_key_df.append(data , ignore_index=True)  # 이건 당연히 안될거고.  concat을 써야지
#unique_user_key_df
#unique_user_key_df.concat([])  ### 이거 자꾸 틀리네
pd.concat([df_temp, df_after])

          day user_key
0  2020-01-01     aaaa
1  2020-01-02     bbbb

In [83]:
cols = ['A', 'B']
data = np.array([[100,200], [300,400], [500,600]])   # 2차원은 행단위

df_test = pd.DataFrame(data, columns=cols)

df_test

     A    B
0  100  200
1  300  400
2  500  600

In [81]:
type(df_test['A'])   # dataframe에서 열을 추출하는 건 당연히 Series겠지. index랑 같이 나오네
df_test['A'] # pandas.core.series.Series

0    1
1    3
2    5
Name: A, dtype: int32

In [82]:
type(df_test['A'].tolist())   # 리스트로 변경
df_test['A'].tolist() # list

[1, 3, 5]

In [80]:
type(df_test['A'].values)  # 배열형태로 값 추출 
df_test['A'].values # numpy.ndarray

array([1, 3, 5])

In [1]:
# 날짜별 처리를 위해 for문 돌리는거 자체가 잘못됐을 수도 있다.
# 날짜만큼만 반복되는데 그 반복동안 dataframe에서는 해당 날짜에걸린 날짜, 유저키를 한번에 추출하므로 리스트에 담길수밖에 없다

In [97]:
# dataframe의 특정열에 조건을 부여하여 추출
# if문으로 하려했었는데 series는 값비교가 불가능하대
if df_test['A'] == '300' :  # df_test['A'].values도 안되는듯?
    print('haha')

C:\Users\ghdls\Anaconda3\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [107]:
# merged_df[(merged_df['daily'] == day)]

#df_test[df_test['A'] == '300']   # data type 달라서 에러
#df_test[df_test['A'] == 300]    # 해당 조건만 걸어서 출력. A열에서 300에 해당하는 열을 모두 출력
#df_test[df_test['A'] == 300]['A']
#df_test[df_test['A'] == 300]['B'] # 해당 조건 걸고, A열만 출력
df_test[df_test['A'] == 300][['A', 'B']]  # 복수(두개이상)개의 열을 추출하고자 하는경우 2dimension형태로 넣어줘야 제대로 인식한다.

     A    B
1  300  400

In [118]:
df_test.loc[0, ['A']]
#df_test.loc[1, ['A']]
#df_test.loc[:, ['A']]  # dataFrame 형태로 출력됨

A    100
Name: 0, dtype: int32

# 다시 기본부터

실무적으로 가장 많이 사용되는 부분중 하나는 바로 Dataframe에서 특정 컬럼이나 로우를 선택하여 그 값을 보는 것이다. pandas에서는 상당히 다양한 방법들이 있다. 대표적으로 iloc, loc, ix 등을 통해서 할 수 있다. 필자는 column을 조회할때 df['column'], row를 조회할 때는 df.ix[index]를 많이 사용한다. 가장 짧고 기억하기 쉽다.

In [116]:
print(df_test.shape)

(3, 2)

In [119]:
len(df_test)

3

In [121]:
list(df_test.columns)

['A', 'B']

In [123]:
df = pd.DataFrame({"A":[1,4,7], "B":[2,5,8], "C":[3,6,9]})
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [128]:
# Use `iloc, loc, ix` to select a row
display(df.iloc[0])
display(df.loc[0])
display(df.ix[0])

A    1
B    2
C    3
Name: 0, dtype: int64

A    1
B    2
C    3
Name: 0, dtype: int64

A    1
B    2
C    3
Name: 0, dtype: int64

In [136]:
# Use `loc[]` to select a column
display(df.ix[:,'A'])
display(df.loc[:, 'A'])
display(df['A'])

0    1
1    4
2    7
Name: A, dtype: int64

0    1
1    4
2    7
Name: A, dtype: int64

0    1
1    4
2    7
Name: A, dtype: int64

In [138]:
# 특정 row, column을 선택하기. !! 원소만 뽑히네
display(df.ix[0]['A'])
display(df.loc[0]['B'])

1

2

In [143]:
df.loc[:, ['A']]  # 2차원이니까 dataframe형태로 출력. # 조건문도 해봐야함

   A
0  1
1  4
2  7

In [145]:
df.loc[:]['A']  # 시리즈 형태로 추출

0    1
1    4
2    7
Name: A, dtype: int64

In [147]:
# 특정 컬럼에 대하여 인덱스로 변경 활용 가능하다.
df2 = df.set_index('A')
display(df2)

   B  C
A
1  2  3
4  5  6
7  8  9

In [149]:
# ix와 iloc의 차이점. ix는 말그대로 index자체를 바라보고 접근. iloc은 인덱스의 위치 값으로 따라감(only 순서)
# 다만, ix를 목적대로 활용하려면 인덱스가 integer로만 구성되어있어야함.
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

display(df)
# Pass `2` to `loc`
print(df.loc[2])

# Pass `2` to `iloc`
print(df.iloc[2])

# Pass `2` to `ix`
print(df.ix[2])  # iloc와 동일하게 출력됨

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

48    1
49    2
50    3
Name: 2, dtype: int32
48    7
49    8
50    9
Name: 4, dtype: int32
48    7
49    8
50    9
Name: 4, dtype: int32

C:\Users\ghdls\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]

In [151]:
# row 추가하기 (append)

df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=[48, 49, 50])
display(df)

a = pd.DataFrame(data=[[1,2,3]], columns=[48,49,50])
display(a)

df = df.append(a)
#df = df.reset_index(drop=True)  # 인덱스 초기화!
display(df)

   48  49  50
0   1   2   3
1   4   5   6
2   7   8   9

   48  49  50
0   1   2   3

   48  49  50
0   1   2   3
1   4   5   6
2   7   8   9
0   1   2   3

In [152]:
# 컬럼 추가

In [153]:
# 인덱스 삭제
# 컬럼 삭제

In [154]:
# 로우 삭제
# 1. 중복 로우 삭제
# 2. 인덱스 지정 로우 삭제

In [1]:
# 데이터 수정

## [Pandas 데이터 형태 확인](https://stickie.tistory.com/79)

In [ ]:
import pandas as df

In [3]:
df = pd.read_csv("./data/wine_reviews.csv", sep=",", encoding="utf-8")

FileNotFoundError: File b'./data/wine_reviews.csv' does not exist

In [ ]:
df.head(5)
df.tail(3)
df.index
df.columns
df.values

In [ ]:
print(df.sort_index(axis = 1, ascending = False))
print(df.sort_value(by = 'B', ascending = True))