In [62]:
import pandas as pd
import numpy as np 

df2 = pd.DataFrame(np.array([[1, 'A intent', 'hi'], [1, 'B intent', 'yes'], [1, 'A intent', 'what?']]),
                   columns=['user', 'intent', 'query'])
df2

  user    intent  query
0    1  A intent     hi
1    1  B intent    yes
2    1  A intent  what?

In [63]:
df2.groupby(['user', 'intent']).size()   # 일단 count()는 잘안나옴

user  intent
1     A intent    2
      B intent    1
dtype: int64

In [64]:
df2.groupby(['user', 'intent'])['user'].size()  # 그룹화 후 size를 셀때는 어떤 컬럼으로 잡더라도 결과가 동일하다
df2.groupby(['user', 'intent'])['intent'].size()
df2.groupby(['user', 'intent'])['query'].size()

user  intent
1     A intent    2
      B intent    1
Name: query, dtype: int64

In [65]:
df2['count'] = df2.groupby(['user', 'intent'])['user'].transform('size')
df2  # count 리스트는 개수가 부족할 수밖에 없음. 근데 신기하게도 user/intent기준으로 알아서 count열을 붙여줌 -> 중복데이터 발생

  user    intent  query  count
0    1  A intent     hi      2
1    1  B intent    yes      1
2    1  A intent  what?      2

In [68]:
df2['count'] = df2.groupby(['user', 'intent'])['user'].transform('size')
#df2.drop_duplicates()  # query 컬럼때문에 중복이 없음

# 최종본. 사용자별로 어떤 인텐트를 몇번 물어봤는지 확인 가능
df2[['user','intent','count']].drop_duplicates()

  user    intent  count
0    1  A intent      2
1    1  B intent      1